.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.input {
  height: 30px;
}

.button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: #fff;
  background-color: #3a3caf;
  border: 1px solid grey;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #313391;
}
